.server-box {
    border: 1px solid #ddd;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
}

.server-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.server-icon {
    margin-right: 20px;
    font-size: 18px;
    color: #007bff;
}

.server-details {
    flex-grow: 1;
    margin-right: 10px;
}

.server-details h3 {
    margin: 0;
}

.server-risk {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
}

.high-risk {
    background-color: #ff4c4c;
    color: #fff;
}

.medium-risk {
    background-color: #ffcc00;
    color: #fff;
}

.low-risk {
    background-color: #4caf50;
    color: #fff;
}

.blacklists {
    padding: 10px;
    background-color: #fff;
}

.blacklists p {
    margin: 0;
    font-weight: bold;
}

.blacklists ul {
    margin: 0;
    padding-left: 20px;
}

.blacklists ul li {
    list-style-type: disc;
    margin: 5px 0;
}

.highlight-text {
    color: #007BFF; /* Azul específico. Cambia el valor al color deseado */
}
.footer-note {
    font-size: 0.9em;
    color: #555; /* Gris oscuro para el texto */
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior para separación */
    padding: 10px; /* Espacio interno para un mejor aspecto */
    border-top: 1px solid #ddd; /* Línea superior para separar del contenido */
}


@page {
    size: A4;
    margin: 1cm;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: none;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


header h1 {
    margin: 0;
    font-size: 24px;
}

header h2 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

header p {
    margin: 5px 0;
    color: #999;
}

section {
    margin-bottom: 20px;
}

div {
    background-color: rgb(235, 232, 232);
    padding: 1%;
    border-radius: 10px;
}

section h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #555;
}

.header-item, .security-item, .attachment-item, .url-item {
    margin-bottom: 10px;
}

.header-item label, .security-item label {
    display: block;
    font-weight: bold;
}

.header-item label i, .security-item label i {
    margin-right: 5px;
    color: #888;
}

.highlight {
    color: #1a73e8;
}

.pass {
    color: green;
}

.neutral {
    color: orange;
}

.danger {
    color: red;
}

.message-content p {
    margin: 10px 0;
}

.message-content a {
    color: #1a73e8;
    text-decoration: none;
}

.message-content a:hover {
    text-decoration: underline;
}

.timeline {
    position: relative;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #C5C5C5;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 5%;
}

.timeline-item:nth-child(even) {
    left: 50.3%;
}

.timeline-content {
    padding: 20px;
    background: #f9f9f9;
    position: relative;
    border-radius: 6px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 4px solid #C5C5C5;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #f9f9f9;
}

.timeline-item:nth-child(odd)::before {
    left: 100%;
    margin-left: -12px;
}

.timeline-item:nth-child(even)::before {
    right: 100%;
    margin-right: -12px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    
}
.title {
    background-color: #FFF;
    margin: -2%;
}
.header-image {
    width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
}

@media print {

    body {
        font-size: 13px;
    }
}