{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}

{% block body %}
<body >
    <div class="container">
        <header class="header">
            <div class="header-content">
                <div class="title">
            <h1>Email Investigation Report | <span class="highlight-text">HermesShield</span></h1>
            <h2>Report for email with uid {{uid}} | {{ analysis.Subject }}</h2>
                </div>
                <img src="{{ url_for('static', filename='imgs/icon.png', _external=True) }}" class="header-image">
                
            </div>
            <p id="dateDisplay">{{ current_date }}</p>
            <p>Hash: {{ hash }}</p>
        </header>
        {% if (analysis._peligrosidad > 20) %}
        <h1>Overall risk: <span class="danger">{{ analysis._peligrosidad }} /100</span></h1>
        {% else %}
        <h1>Overall risk: <span class="pass">{{ analysis._peligrosidad }} /100</span></h1>
        {% endif %}
        
        <section class="headers">
            <h3>Headers</h3>
            <div class="header-item">
                <label><i class="fas fa-exclamation-circle"></i> From</label>
                {% if (analysis.distance > 0.5) %}
                <p><span class="danger"><i class="fas fa-exclamation-circle"></i> Different name and address can mean spoofing email</span></p>
                <p>{{ analysis.From }}</p>
                {% else %}
                <p>{{ analysis.From }}</p>
                {% endif %}
            </div>
            <div class="header-item">
                <label><i class="fas fa-user"></i> To</label>
                <p>{{ analysis.To }}</p>
            </div>
            <div class="header-item">
                <label><i class="fas fa-clock"></i> Timestamp</label>
                <p>{{ analysis.Date }} </p>
            </div>
            <div class="header-item">
                <label><i class="fas fa-reply"></i> Domain </label>
                {% if analysis.spam_mail %}
                <p><span class="danger"><i class="fas fa-exclamation-circle"></i> Domain marked as SPAM</span></p>
                <p>{{analysis.domain}} </p>
                {% else %}
                <p><span class="pass"><i class="fas fa-check-circle"></i> Domain NOT marked as SPAM </span></p>
                <p>{{analysis.domain}} </p>
                {% endif %}
            </div>
            <div class="header-item">
                <label><i class="fas fa-exchange-alt"></i> Return-Path</label>
                {% if analysis.emisor_missmatch %}
                <p>Result: <span class="danger"><i class="fas fa-exclamation-circle"></i> From and Return-Path fields do not match</span></p>
                <p>{{ analysis.returnPath }}</p>
                {% else %}
                <p>Result: <span class="pass"><i class="fas fa-check-circle"></i> PASS </span></p>
                <p>{{ analysis.returnPath }}</p>
                {% endif %}
            </div>
            <div class="header-item">
                <label><i class="fas fa-map-marker-alt"></i> Originating IP</label>
                <p>{{analysis.ip_sender}}</p>
            </div>
            <div class="header-item">
                <label><i class="fas fa-server"></i> Reverse DNS</label>
                <p>mail1.protonmail.ch</p>
            </div>
        </section>
        <section class="security">
            <h3>Security</h3>
            <div class="security-item">
                <label><i class="fas fa-shield-alt"></i> SPF</label>
                {% if analysis.AUTH_spf_fail %}
                <p>Result: <span class="danger"><i class="fas fa-exclamation-circle"></i> FAIL</span></p>
                <p>SPF Record: <span class="highlight">v=spf1 include:_spf.protection.outlook.com include:_spf.protonmail.ch mx ~all</span></p>
                {% else %}
                <p>Result: <span class="pass"><i class="fas fa-check-circle"></i> PASS</span></p>
                <p>SPF Record: <span class="highlight">v=spf1 include:_spf.protection.outlook.com include:_spf.protonmail.ch mx ~all</span></p>
                {% endif %}
            </div>
            <div class="security-item">
                <label><i class="fas fa-shield-alt"></i> DKIM</label>
                {% if analysis.AUTH_dkim_fail %}
                <p>Result: <span class="danger"><i class="fas fa-exclamation-circle"></i> FAIL</span></p>
                <p>DKIM Selector: <span class="highlight">protonmail_domainkey.huelsgroup.com</span></p>
                {% else %}
                <p>Result: <span class="pass"><i class="fas fa-check-circle"></i> PASS</span></p>
                <p>DKIM Selector: <span class="highlight">protonmail_domainkey.huelsgroup.com</span></p>
                {% endif %}
            </div>
            <div class="security-item">
                <label><i class="fas fa-shield-alt"></i> DMARC</label>
                {% if analysis.AUTH_dmarc_fail %}
                <p>Result: <span class="danger"><i class="fas fa-exclamation-circle"></i> FAIL</span></p>
                <p>DMARC Record: <span class="highlight">v=DMARC1; p=none; rua=mailto:address@yourdomain.com</span></p>
                {% else %}
                <p>Result: <span class="pass"><i class="fas fa-check-circle"></i> PASS</span></p>
                <p>DMARC Record: <span class="highlight">v=DMARC1; p=none; rua=mailto:address@yourdomain.com</span></p>
                {% endif %}
            </div>
            <div class="security-item">
                <label><i class="fas fa-shield-alt"></i> Authentication</label>
                {% if analysis.AUTH_compauth_fail %}
                <p>Result: <span class="danger"><i class="fas fa-exclamation-circle"></i> FAIL</span></p>
                <p>DMARC Record: <span class="highlight">Authentication failed</span></p>
                {% else %}
                <p>Result: <span class="pass"><i class="fas fa-check-circle"></i> PASS</span></p>
                <p>DMARC Record: <span class="highlight">Authentication verified</span></p>
                {% endif %}
            </div>
        </section>
        <section class="servers">
            <h3>Received servers</h3>

            {% for server in analysis.servidores %}
            <div class="server-box">
                <div class="server-header">
                    <div class="server-icon"><i class="fas fa-server"></i></div>
                    <div class="server-details">
                        <h3>Dominio: {{server.ip_address}}</h3>
                        <p>IP: {{server.domain}}</p>
                    </div>
                    {% if (server.perc > 0) %}
                    <div class="server-risk high-risk">Riesgo: {{ "%.2f" % server.perc}}%</div>
                    {% else %}
                    <div class="server-risk low-risk">Riesgo: {{ "%.2f" % server.perc}}%</div>
                    {% endif %}
                </div>
                {% if (server.perc > 0) %}
                <div class="blacklists">
                    <p>Blacklists:</p>
                    <ul>
                        {% for lista in server.blacklists %}
                        <li>{{ lista }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            
        </section>
        <section class="attachments">
            <h3>Attachments</h3>
            {% for attach in analysis.files %}
            <div class="attachment-item">
                <p>File name: <span class="highlight">{{attach.name}}</span></p>
                <p>File type: {{attach.type}}</p>
                <p>File hash: {{attach.hash}}</p>
                <p>Analysis date: {{attach.date}}</p>
                <p>VirusTotal reputation: {{attach.reputation}} </p>
                {% if (attach.harm > 0) %}
                <p>Harm: <span class="pass"><i class="fas fa-check-circle"></i> {{attach.harm}}/{{attach.harm + attach.malicious + attach.suspicious + attach.undetected}}</span></p>
                {% endif %}
                {% if (attach.malicious > 0) %}
                <p>Malicious: <span class="danger"><i class="fas fa-exclamation-circle"></i> {{attach.malicious}}/{{attach.harm + attach.malicious + attach.suspicious + attach.undetected}}</span></p>
                {% endif %}
                {% if (attach.suspicious > 0) %}
                <p>Suspicious: <span class="neutral"><i class="fas fa-exclamation-circle"></i> {{attach.suspicious}}/{{attach.harm + attach.malicious + attach.suspicious + attach.undetected}}</span></p>
                {% endif %}
                {% if (attach.undetected > 0) %}
                <p>Undetected: <span class="neutral"><i class="fas fa-exclamation-circle"></i> {{attach.undetected}}/{{attach.harm + attach.malicious + attach.suspicious + attach.undetected}}</span></p>
                {% endif %}
                {% for engine in attach.engine_analysis %}
                {% if (engine.result == "malicious") %}
                <p style="font-size:13px; padding-left:30px;"> <span class="danger">Engine: {{engine.name}} Result: {{engine.result}} Category: {{engine.category}}</span></p>
                {% elif (engine.result == "clean") %}
                <p style="font-size:13px; padding-left:30px;"> <span class="pass">Engine: {{engine.name}} Result: {{engine.result}} Category: {{engine.category}}</span></p>
                {% else %}
                <p style="font-size:13px; padding-left:30px;"> <span class="neutral">Engine: {{engine.name}} Result: {{engine.result}} Category: {{engine.category}}</span></p>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </section>
        <section class="urls">
            <h3>URLs</h3>
            {% for url in analysis.urls %}
            <div class="url-item">
                <p>URL: <a href="https://blank-84.oittt.net/" target="_blank">{{url.name}}</a></p>
            {% if (url.harm > 0) %}
            <p>Harm: <span class="pass"><i class="fas fa-check-circle"></i> {{url.harm}}/{{url.harm + url.malicious + url.suspicious + url.undetected}}</span></p>
            {% endif %}
            {% if (url.malicious > 0) %}
            <p>Malicious: <span class="danger"><i class="fas fa-exclamation-circle"></i> {{url.malicious}}/{{url.harm + url.malicious + url.suspicious + url.undetected}}</span></p>
            {% endif %}
            {% if (url.suspicious > 0) %}
            <p>Suspicious: <span class="neutral"><i class="fas fa-exclamation-circle"></i> {{url.suspicious}}/{{url.harm + url.malicious + url.suspicious + url.undetected}}</span></p>
            {% endif %}
            {% if (url.undetected > 0) %}
            <p>Undetected: <span class="neutral"><i class="fas fa-exclamation-circle"></i> {{url.undetected}}/{{url.harm + url.malicious + url.suspicious + url.undetected}}</span></p>
            {% endif %}
            {% for engine in url.engine_analysis %}
                {% if (engine.result == "malicious") %}
                <p style="font-size:13px; padding-left:30px;"> <span class="danger">Engine: {{engine.name}} Result: {{engine.result}} Category: {{engine.category}}</span></p>
                {% elif (engine.result == "clean") %}
                <p style="font-size:13px; padding-left:30px;"> <span class="pass">Engine: {{engine.name}} Result: {{engine.result}} Category: {{engine.category}}</span></p>
                {% else %}
                <p style="font-size:13px; padding-left:30px;"> <span class="neutral">Engine: {{engine.name}} Result: {{engine.result}} Category: {{engine.category}}</span></p>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </section>
        <section class="message">
            <h3>Message</h3>
            {% if analysis.spam_mail %}
                <p>Message marked by our AI Model as: <span class="danger"><i class="fas fa-exclamation-circle"></i> SPAM</span></p>   
            {% else %}
                <p>Message marked by our AI Model as: <span class="pass"><i class="fas fa-check-circle"></i> HARM</span></p>
            {% endif %}
            {% if analysis.fraudPatterns %}
                <p>The text contains patterns marked as posible <span class="danger"><i class="fas fa-exclamation-circle"></i> FRAUD</span></p>   
            {% else %}
                <p>The text does not contains patterns of fraud:  <span class="pass"><i class="fas fa-check-circle"></i> CLEAN</span></p>
            {% endif %}
            <div class="message-content">
                {{analysis.text | safe}}
            </div>
        </section>
    </div>
    <p class="footer-note">
        This report has been generated by <strong>HermesShield</strong>. All rights reserved.
    </p>
</body>
</html>

{% endblock %}