{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block body %} 
<header class="cabecera">
    <script src="static/javascript/logout.js"></script>
    <h1 class="titulo-cabecera">{{username}}</h1>
    <button class="boton-logout" id="boton-logout">Cerrar Sesión</button>
</header>
<div class="cuerpo">
    <h1 class="titulo-cuerpo">Emails:</h1>
</div>
<div class="contenedor">
    {% for email in emails %}
    <div class="boton-enlace">
        <a href="/mail/{{email.UID}}">
            <div class="icono">
                <i class="fas fa-envelope"></i> <!-- Icono de sobre -->
            </div>
            <div class="info-correo">
                <span class="emisor">{{ email.Remitente }}</span> <!-- Campo para el remitente -->
                <span class="asunto">{{ email.Asunto }}</span> <!-- Campo para el asunto -->
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}