{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/mailView.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            var fiabilidad = '{{ fiabilidad }}';
            var servidores = {{ servers | tojson | safe }};
            
            // Aquí puedes usar 'fiabilidad' en tu script JavaScript
        </script>
        <script src="{{ url_for('static', filename='javascript/fiabilidad.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/blacklists.js') }}"></script>
<title>Visualización de Correos</title>
{% endblock %}

{% block body %} 
<header>
    <h1>Email Viewer</h1>
</header>

<div class="container">
    <div class="security-params">
        <!-- Aquí puedes mostrar los parámetros de seguridad -->
        <h2>Informe de seguridad:</h2>
        <div id="myChart" width="800" height="800"></div>
        <div id="blacklistSer" width="400" height="400"></div>
        
    </div>
    <div class="email-container">
    <div class="headers">
        <h2>Cabeceras:</h2>
        <ul>
            <li><strong>From:</strong> {{datos.Remitente}}</li>
            <li><strong>To:</strong> {{datos.Destinatario}}</li>
            <li><strong>Subject:</strong> {{datos.Asunto}}</li>
            <li><strong>Date:</strong> {{datos.Fecha}}</li>
        </ul>
    </div>
    
    <div class="content" style="overflow: auto; white-space: nowrap;">
        <h2>Contenido:</h2>
        {{datos.Contenido_HTML | safe}}
    </div>
</div>
</div>
</body>
</html>
{% endblock %}