{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/mailView.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>Visualización de Correos</title>
{% endblock %}

{% block body %} 
<header>
    <h1>Email Viewer</h1>
</header>

<div class="container">
    <div class="security-params">
        <!-- Aquí puedes mostrar los parámetros de seguridad -->
        <h2>Informe de seguridad preeliminar:</h2>
        {% if loading %}
        <div class="loader"></div> <!-- Este es el contenedor del indicador de carga -->
        {%  endif %}
    </div>
    <div class="email-container">
    <div class="headers">
        <h2>Cabeceras:</h2>
        <ul>
            <li><strong>From:</strong> {{datos.Remitente}}</li>
            <li><strong>To:</strong> {{datos.Destinatario}}</li>
            <li><strong>Subject:</strong> {{datos.Asunto}}</li>
            <li><strong>Date:</strong> {{datos.Fecha}}</li>
        </ul>
    </div>
    
    <div class="content" style="overflow: auto; white-space: nowrap;">
        <h2>Contenido:</h2>
        {{datos.Contenido_HTML | safe}}
    </div>
</div>
</div>
</body>
</html>
{% endblock %}